NEXT_PUBLIC_SHOP_URL=https://shop.gutguard.ph
NEXT_PUBLIC_SHOP_REFERRAL_SLUG=ginhawa
NEXT_PUBLIC_GINHAWA_URL=https://ginhawa.gutguard.ph
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# Future
NEXT_PUBLIC_LIFESTYLE_URL=
NEXT_PUBLIC_GENTREP_URL=

